@page
@using FacilityMonitoring.Common.Data.DTO

<div class="content-block">
    <div class="dx-area-caption">Gas Bay Box</div>
    <div style="margin: 20px 20px 30px 20px">
        @(Html.DevExtreme().DataGrid()
        .ID("boxReadings")
        .Visible(false)
        .ShowBorders(true)
        .HighlightChanges(true)
        .AllowColumnResizing(true)
        .ColumnAutoWidth(true))
    </div>
</div>

<div class="content-block">
    <div class="dx-area-caption">Ammonia Tank Data</div>
    <div style="margin: 20px 20px 30px 20px">
        @(Html.DevExtreme().DataGrid<Tank>()
        .ID("tankReadings")
        .Visible(true)
        .ShowBorders(true)
        .HighlightChanges(true)
        .AllowColumnResizing(true)
        .ColumnAutoWidth(true))
    </div>
</div>


<div class="content-block" style="width:350px">
    <div class="dx-form">
        <div class="dx-fieldset">
            <div class="dx-field">
                <div class="dx-field-label">Switch Maintenance On/Off</div>
                <div class="dx-field-value">
                    @(Html.DevExtreme().Switch().ID("maintSwitch")
                        .Value(false)
                    //.OnValueChanged("maint_switched")
                    )
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">Switch Alarm On/Of</div>
                <div class="dx-field-value">
                    @(Html.DevExtreme().Switch().ID("alarmSwitch")
                        .Value(false)
                    //.OnValueChanged("alarm_switched")
                    )
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">Switch Warning On/Off</div>
                <div class="dx-field-value">
                    @(Html.DevExtreme().Switch().ID("warningSwitch")
                        .Value(false)
                    )
                </div>
            </div>
            <div class="dx-field">
                <div id="" class="dx-field-label">Responce</div>
                <div class="dx-field-value">
                    <div class="col-6">&nbsp;</div>
                    <div class="col-6">
                        <ul id="messagesList"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/tankScalestream.js"></script>
<script src="~/js/gasbaystream.js"></script>